.consumables {
   &__slider {
      overflow: unset;
      &::before {
         z-index: 2;
         right: 0;
         background: linear-gradient(270deg, #fff 0, rgba(255, 255, 255, 0.0001) 106.65%);
         content: "";
         display: block;
         position: absolute;
         top: 0;
         bottom: 0;
         padding: 20px;
      }
      &::after {
         left: 0;
         background: linear-gradient(270deg, #fff 0, rgba(255, 255, 255, 0.0001) 106.65%);
         transform: matrix(-1, 0, 0, 1, 0, 0);
         content: "";
         display: block;
         position: absolute;
         top: 0;
         bottom: 0;
         padding: 20px;
         z-index: 2;
      }
   }

   &__card {
      &--top {
         height: 110px;
         margin-bottom: 10px;

         img {
            margin: 0;
         }
      }

      &--title {
         font-size: 16px;
         font-weight: 700;
         line-height: 18px;
         margin-bottom: 30px;

         a {
            color: $color-theme;
         }
      }

      &--list {
         list-style: none;
      }

      &--item {
         font-size: 14px;
         font-weight: 600;
         &:not(:last-child) {
            margin-bottom: 15px;
         }
      }

      &--link {
         display: inline-block;
         color: $color-text-second;
      }

      &--button {
         font-size: 14px;
         font-weight: 700;
         margin-top: 15px;
      }
   }
}
