.faq {
   &__container {
      @media screen and(min-width: 1024px) {
         background: url(../images/baike.png) 0 0 no-repeat;
         background-position-y: calc(100% + 50px);
      }
   }

   &__list {
      max-width: 1110px;
      margin: 0 auto;
   }

   &__item {
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }
   &__question {
      position: relative;
      cursor: pointer;
      padding: 10px 45px 10px 10px;
      background: $background-color-faq;
      border: 1px solid $color-border-faq;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $color-text-link;

      @media screen and(min-width: 1024px) {
         padding: 20px 35px;
      }

      &--icon {
         position: absolute;
         right: 15px;
         top: 0;
         bottom: 0;
         left: auto;
         margin: auto;
         fill: $color-text-link;
         width: 18px;
         height: 18px;
      }
   }

   &__answer {
      display: none;
      margin-top: 0;
      background: $background-color-main;
      box-shadow: 0 0 10px $color-faq-shadow;
      border-radius: 10px;
      padding: 11px 15px;
      font-size: 14px;
      line-height: 26px;
      color: $color-text;
   }

   &__item.open .faq__answer {
      display: block;
      margin-top: 10px;
      transition: height ease 2s;
   }
}
