$color-theme: #fc4c01;

$color-border: #979797;
$color-border-second: #c5c5c5;
$color-border-theme: #fc6600;
$color-border-select: #bfbfbf;
$color-border-faq: #d6d6d6;
$color-border-footer: #cbcbcb;
$color-border-footer-block: #d2d2d2;
$color-border-slide: #ddd;
$color-border-header: #eee;

$color-text: #000000;
$color-text-main: #4d4d4d;
$color-text-second: #555;
$color-text-link: #444;
$color-text-link-desktop: #222;
$color-text-parts: #2c94db;
$color-search: #9b9b9b;

$color-burger-line: #423f3f;

$background-color-main: #ffffff;
$background-color-opacity: rgba(255, 255, 255, 0.9);
$background-color-before: #0000008a;
$background-color-faq: #f5f5f5;
$background-color-footer: #f8f8f8;
$background-color-delivery: #fbd53d;
$background-color-availability: #4aa522;
$background-color-blog: rgba(252, 102, 0, 0.6);
$background-color-arrow-slider: #e9e7e7;

$color-faq-shadow: rgba(0, 0, 0, 0.25);
$color-card-shadow: rgba(0, 0, 0, 0.5);
$color-phone-shadow: rgba(116, 116, 116, 0.5);

$fill-card-icons: #787878;
