.footer {
   background: $background-color-footer;
   width: 100%;
   overflow: hidden;
   border-top: 2px solid $color-border-footer;

   &__container {
      padding: 30px 10px;

      border-bottom: 2px solid $color-border-footer;
      @media screen and(min-width: 1024px) {
         display: flex;
         justify-content: space-between;
         padding: 20px 10px 25px;
      }
   }

   &__first {
      padding-bottom: 30px;
      border-bottom: 1px solid $color-border-footer-block;
      @media screen and(min-width: 1024px) {
         padding: 0;
         border: none;
         width: 200px;
      }
   }

   &__logo {
      display: block;
      max-width: 48px;
      margin: 0 auto;
      margin-bottom: 30px;

      &--image {
         max-width: 48px;
      }
   }

   &__social {
      display: flex;
      align-items: center;
      justify-content: center;

      &--link {
         display: block;
         fill: $color-text-link;
         &:not(:last-child) {
            margin-right: 15px;
         }
         &:hover,
         &:focus {
            fill: $color-theme;
         }
      }

      &--icon {
         width: 25px;
         height: 25px;
      }
   }

   &__two {
      padding: 15px 0;
      border-bottom: 1px solid $color-border-footer-block;
      @media screen and(min-width: 1024px) {
         padding: 0;
         border: none;
         max-width: 730px;
         width: calc(100% - 530px);
      }
   }

   &__menu {
      @media screen and(min-width: 1024px) {
         display: flex;
         justify-content: space-between;
      }
      &--button {
         display: flex;
         align-items: center;
         justify-content: center;
         @media screen and(min-width: 1024px) {
            display: none;
         }
      }
      &--title {
         color: $color-text-link;
         font-size: 18px;
         font-weight: 600;
         text-transform: uppercase;
      }

      &--icon {
         height: 11px;
         width: 20px;
         fill: $color-text-link;
         margin-left: 15px;
      }

      &--list {
         list-style: none;
         margin: 0;
         padding: 20px 15px 0;
         font-weight: 600;
         font-size: 16px;
         @media screen and(min-width: 1024px) {
            padding: 0;
         }
      }

      &--item {
         &:not(:last-child) {
            margin-bottom: 20px;
            @media screen and(min-width: 1024px) {
               margin-bottom: 30px;
            }
         }
      }

      &--link {
         display: inline-block;
         font-size: 15px;
         font-weight: 600;
         color: $color-text-link;

         &:hover {
            color: $color-theme;
         }
      }
   }

   &__three {
      @media screen and(min-width: 1024px) {
         width: 300px;
      }
   }

   &__contacts {
      padding: 30px 0;
      @media screen and(min-width: 1024px) {
         padding: 0;
      }

      &--item {
         position: relative;
         padding-left: 30px;
         font-weight: 600;
         font-size: 15px;

         &:not(:last-child) {
            margin-bottom: 15px;
         }
      }

      &--icon {
         position: absolute;
         top: 0;
         left: 0;
         width: 18px;
         height: 18px;
         fill: $color-border-footer-block;
      }

      &--link {
         display: inline-block;
         color: $color-text-link;

         &:not(:last-child) {
            margin-bottom: 10px;
         }

         &:hover {
            color: $color-theme;
         }
      }
   }

   &__copy {
      display: flex;
      flex-direction: column;
      padding: 10px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: $color-text-link;
      @media screen and(min-width: 1024px) {
         flex-direction: row;
         justify-content: center;
         font-size: 16px;
         letter-spacing: 1px;
         font-weight: 500;
      }

      span {
         &:nth-child(1) {
            margin-right: 5px;
         }
      }
   }
}
